
@model ReportsViewModel
@{
    ViewData["Title"] = "ProfitLoss";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .text-sm .select2-container--default .select2-selection--single, select.form-control-sm ~ .select2-container--default .select2-selection--single {
        height: calc(2.2rem + 2px) !important;
    }

    .table thead {
        background-color: #d0d0d0 !important;
    }
</style>

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center shadow">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Profit Loss Report  </li>
            </ol>
        </div>
    </div>
</div>


<section class="">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row w-100 mb-4">
                    <div class=" col-md-4 col-sm-12">
                        <h5> <i class="fas fa-list"></i> Profit Loss Report </h5>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="StartDate" class="control-label"> Start Date</label>
                                <input asp-for="StartDate" class="form-control" required />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label asp-for="EndDate" class="control-label"> End Date </label>
                                <input asp-for="EndDate" class="form-control" required />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <div class="form-group mt-4">
                                <input type="button" onclick="btnrepot2()" value="View Report" class=" btn btn-success btn-lg btn-block" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Report').addClass('menu-open');
            $('#ReportProfitLoss').addClass('active');
        });
        function btnrepot2() {
            var StartDate = $("#StartDate").val();
            var EndDate = $("#EndDate").val();
            window.open(
            'ProfitLossPrintView?StartDate=' + StartDate + '&&EndDate=' + EndDate + '',
                '_blank'
            );
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }



