@model PagedModel<ProductCategoryViewModel>

@{
    var ff = Model;
    int SN = Model.FirstSerialNumber;
    PagedList pager = new PagedList();
    int pageNo = 0;
    if (Model.PagedList != null)
    {
        pager = Model.PagedList;
        pageNo = Model.PagedList.PageIndex;
        SN = ((Model.PagedList.PageIndex * Model.PagedList.PageSize) - Model.PagedList.PageSize) + 1;
    }
    string urlinstring = "ProductCategory/GetPaged";
    Pager pagemodel = new Pager() { PagedList = pager, StringUrl = urlinstring };
}
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead style="background-color:#a9a9a93d;">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Models)
                {
                    <tr id="@SN">
                        <td>
                            @SN
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                    SN++;
                }
            </tbody>
        </table>
    </div>
</div>


<div class="card-footer">

    <div class="text-left">
        @await Html.PartialAsync("_pagingpartial", pagemodel)
    </div>
</div>
